@page
@model UI.Pages.BannerModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @if (Model.products == null || !Model.products.Any())
    {
        <p>No Products Found</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>ImageUrl</th>
                    <th>SoldCount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.ImageUrls</td>
                        <td>@product.SoldCount</td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>