@page
@model UI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex px-40">
    <div class="w-1/2 overflow-hidden">
        @await Html.PartialAsync("_Top10SellingProducts", Model.Top10SellingProducts)
    </div>

    <div class="w-1/2 overflow-hidden">
        @await Html.PartialAsync("_Top10NewProducts", Model.Top10NewProducts)
    </div>
</div>

@section Scripts {
    <!-- Swiper Initialization for Selling Products -->
    <script>
        var sellingSwiper = new Swiper('.selling-products-swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.selling-products-swiper .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.selling-products-swiper .swiper-button-next',
                prevEl: '.selling-products-swiper .swiper-button-prev',
            },
        });
    </script>

    <!-- Swiper Initialization for New Products -->
    <script>
        var newProductsSwiper = new Swiper('.new-products-swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.new-products-swiper .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.new-products-swiper .swiper-button-next',
                prevEl: '.new-products-swiper .swiper-button-prev',
            },
        });
    </script>
}
