@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Handmade Product Management System</h1>
    <p>Use the navigation to interact with various functionalities.</p>

    @if (Model.products == null || !Model.products.Any())
    {
        <p>No WeatherForecasts Found</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Rating</td>
                    </tr>
                }
            </tbody>
        </table>

    }

</div>
