@page
@model UI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex px-40">
    <div class="w-1/2 overflow-hidden">
        @await Html.PartialAsync("HomePage/_Top10SellingProducts", Model.Top10SellingProducts)
    </div>

    <div class="w-1/2 overflow-hidden">
        @await Html.PartialAsync("HomePage/_Top10NewProducts", Model.Top10NewProducts)
    </div>
</div>


<h1 class="mb-4 mt-4 text-center text-5xl font-bold">Product List</h1>

<partial name="~/Pages/Product/ProductList.cshtml" model="Model.Products" />


@{
    var paginationModel = new UI.Pages.Shared.PaginationModel
            {
                PageNumber = Model.PageNumber,
                PageSize = Model.PageSize,
                CurrentFilter = Model.CurrentFilters,
                HasNextPage = Model.HasNextPage
            };
}

<partial name="~/Pages/Shared/_Pagination.cshtml" model="paginationModel" />
