@page
@model LoginModel
<div class="font-[sans-serif]">
    <div class="fle-col flex min-h-screen items-center justify-center px-4 py-6">
        <div class="grid w-full max-w-6xl items-center gap-4 md:grid-cols-2">
            <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-w-md rounded-lg border border-gray-300 p-6 max-md:mx-auto">
                <form method="post" class="space-y-4">
                    <div class="mb-8">
                        <h3 class="text-3xl font-extrabold text-gray-800">Sign in</h3>
                        <p class="mt-4 text-sm leading-relaxed text-gray-500">Sign in to your account and explore a world of possibilities. Your journey begins here.</p>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="text-red-500">@Model.ErrorMessage</div>
                    }

                    <div>
                        <label class="mb-2 block text-sm text-gray-800">Email address</label>
                        <div class="relative flex items-center">
                            <input asp-for="Email" type="email" required class="w-full rounded-lg border border-gray-300 px-4 py-3 text-sm text-gray-800 outline-blue-600" placeholder="Enter email address" />
                        </div>
                        <span asp-validation-for="Email" class="text-red-500"></span>
                    </div>

                    <div>
                        <label class="mb-2 block text-sm text-gray-800">Password</label>
                        <div class="relative">
                            <input asp-for="Password" type="password" required class="w-full rounded-lg border border-gray-300 px-4 py-3 pr-12 text-sm text-gray-800 outline-blue-600" placeholder="Enter password" id="passwordInput" />
                            <button type="button" onclick="togglePassword()" class="-translate-y-1/2 absolute right-2 top-1/2 cursor-pointer p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-600" id="eyeIcon">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-5 w-5 text-gray-600" id="eyeSlashIcon">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                </svg>
                            </button>
                        </div>
                        <span asp-validation-for="Password" class="text-red-500"></span>
                    </div>

                    <div class="!mt-8">
                        <button type="submit" class="w-full rounded-lg bg-blue-600 px-4 py-3 text-sm tracking-wide text-white shadow-xl hover:bg-blue-700 focus:outline-none">
                            Log in
                        </button>
                    </div>

                    <div class="mt-2 text-right">
                        <a href="/Recovery" class="text-sm font-semibold text-blue-600 hover:underline">
                            Forgot your password?
                        </a>
                    </div>

                    <p class="!mt-8 text-center text-sm text-gray-800">Don't have an account? <a href="/Registration" class="ml-1 whitespace-nowrap font-semibold text-blue-600 hover:underline">Register here</a></p>
                </form>
            </div>
            <div class="md:h-[300px] lg:h-[400px] max-md:mt-8">
                <img src="https://readymadeui.com/login-image.webp" class="mx-auto block h-full w-full object-cover max-md:w-4/5" alt="Login" />
            </div>
        </div>
    </div>
</div>

<script>
    // Function to show alert after page load
    document.addEventListener('DOMContentLoaded', function () {
        var confirmationResult = '@TempData["ConfirmationResult"]';
        if (confirmationResult) {
            alert(confirmationResult);
        }
    });

    function togglePassword() {
        const passwordInput = document.getElementById('passwordInput');
        const eyeIcon = document.getElementById('eyeIcon');
        const eyeSlashIcon = document.getElementById('eyeSlashIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.add('hidden');
            eyeSlashIcon.classList.remove('hidden');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('hidden');
            eyeSlashIcon.classList.add('hidden');
        }
    }
</script>