<form method="post">
    <div class="space-y-6">
        <div>
            <label class="mb-2 block text-sm text-gray-800">User Name</label>
            <input asp-for="UserName" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter user name" />
            <span asp-validation-for="UserName" class="text-red-500"></span>
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Full Name</label>
            <input asp-for="FullName" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter full name" />
            <span asp-validation-for="FullName" class="text-red-500"></span>
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Email</label>
            <input asp-for="Email" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter email" />
            <span asp-validation-for="Email" class="text-red-500"></span>
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Client Url</label>
            <input asp-for="ClientUri" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter client URL" />
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Phone Number</label>
            <input asp-for="PhoneNumber" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter phone number" />
            <span asp-validation-for="PhoneNumber" class="text-red-500"></span>
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Password</label>
            <input asp-for="Password" type="password" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-red-500"></span>
        </div>

        <div>
            <label class="mb-2 block text-sm text-gray-800">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm text-gray-800" placeholder="Confirm password" />
            <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
        </div>

        <div class="!mt-12">
            <button type="submit" class="w-full rounded-md bg-blue-600 px-4 py-3 text-sm font-semibold tracking-wider text-white hover:bg-blue-700">
                Create an account
            </button>
        </div>

        <p class="mt-6 text-center text-sm text-gray-800">Already have an account? <a href="/Login" class="ml-1 font-semibold text-blue-600 hover:underline">Login here</a></p>
    </div>
</form>
