@model List<HandmadeProductManagement.ModelViews.ProductModelViews.ProductForDashboard>

<!-- Top 10 New Products Swiper -->
<div class="swiper-container new-products-swiper relative">
    <h2 class="mb-4 text-center text-lg font-bold text-blue-600">Top 10 New Products</h2>
    <div class="swiper-wrapper">
        @foreach (var product in Model)
        {
            <div class="swiper-slide">
                <div class="mb-10 text-center">
                    <a href="/ProductDetail/ProductDetail?id=@product.Id" class="block transform transition-transform hover:scale-105">
                        <div class="relative inline-block">
                            <img class="mx-auto h-40 w-40" src="@product.ImageUrl" alt="@product.Name" />
                            <!-- Sold Count Overlay -->
                            <div class="h-4 w-full bg-transparent bg-opacity-50"></div>
                        </div>
                        <h3 class="text-md font-semibold transition-colors duration-300 hover:text-blue-600">@product.Name</h3>
                        <p class="text-sm text-gray-600">₫@product.Price</p>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
