@model List<HandmadeProductManagement.ModelViews.ProductModelViews.ProductForDashboard>

<!-- Top 10 New Products Swiper -->
<div class="swiper-container new-products-swiper relative">
    <h2 class="mb-4 text-center text-lg font-bold text-blue-600">Top 10 New Products</h2>
    <div class="swiper-wrapper">
        @foreach (var product in Model)
        {
            <div class="swiper-slide">
                <div class="mb-10 text-center">
                    <img class="mx-auto mb-2 h-40 w-40" src="@product.ImageUrls.FirstOrDefault()" alt="@product.Name" />
                    <h3 class="text-md font-semibold">@product.Name</h3>
                    <p class="text-sm text-gray-600">@product.Price $</p>
                </div>
            </div>
        }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
