@model List<HandmadeProductManagement.ModelViews.CategoryModelViews.CategoryDto>

<div class="group relative inline-block text-left">
    <button id="menu-button" class="text-gray-700 hover:text-blue-600">
        Category
        <i class="fa fa-caret-down ml-2"></i>
    </button>

    <!-- Dropdown menu -->
    <div class="group-hover:block absolute z-50 hidden w-40 origin-top-left divide-y divide-gray-100 rounded-md bg-white shadow-lg transition duration-300">
        <div class="py-1">
            @if (Model != null)
            {
                @foreach (var category in Model)
                {
                    <a href="@Url.Page("/Product/ProductList", new { CategoryId = category.Id })" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">@category.Name</a>
                }
            }
        </div>
    </div>
</div>
