@model List<HandmadeProductManagement.ModelViews.CartItemModelViews.CartItemGroupDto>

<!-- Cart Button with cart icon -->
<a href="/Cart/CartView">
    <button id="cart-button" class="relative rounded-full p-2 text-gray-600 transition duration-300 hover:text-blue-600 focus:outline-none">
        <!-- Cart icon -->
        <i class="fa fa-shopping-cart text-xl"></i>
        <!-- Cart item count -->
        <span class="absolute right-0 top-0 -mr-1 -mt-1 inline-flex h-4 w-4 items-center justify-center rounded-full bg-red-500 text-xs font-bold text-white">
            @ViewData["CartItemCount"]
        </span>
    </button>
</a>
